<template>
  <div class="animate-fade-in overflow-hidden">
    <NuxtLayout>
    <NuxtPage 
></NuxtPage>
      </NuxtLayout>
  </div>
</template>
<style>
.page-enter-active,
.page-leave-active {
  transition: transform 0.56s ease-in-out;
}
.page-enter-from,
.page-leave-to {
  transform: translateY(100%);
}
.page-leave-to {
  transform: translateX(-100%);
}
</style>

<script lang="ts">
import { defineNuxtConfig } from 'nuxt/config'

export default defineNuxtConfig({
  app: {
    pageTransition: {
      name: 'slide-right',
      mode: 'out-in' // default
    },
    layoutTransition: {
      name: 'slide-right',
      mode: 'out-in' // default
    }
  }
})
</script>
