<template>
  <div class="text-white relative h-16 overflow-hidden">
    <h1 ref="animatedText" class="absolute top-0 -translate-y-full animate-letter-animation">{{ text }}</h1>
  </div>
</template>

<script>
export default {
  data() {
    return {
      text: "Hello World!"
    };
  },
  mounted() {
    this.animateLetters();
  },
  methods: {
    animateLetters() {
      const animatedText = this.$refs.animatedText;
      const text = animatedText.textContent;
      animatedText.textContent = "";

      const characters = text.split("");
      characters.forEach((character, index) => {
        const span = document.createElement("span");
        span.textContent = character;

        // Apply Tailwind CSS classes to the span
        span.classList.add("inline-block", "animate-letter-animation", "duration-500", "ease-in-out");

        const delay = index * 100;
        span.style.animationDelay = delay + "ms";

        animatedText.appendChild(span);
      });
    }
  }
};
</script>

<style scoped>
@keyframes letterAnimation {
  0% {
    transform: translateY(-100%);
  }
  100% {
    transform: translateY(0);
  }
}
</style>