<template>
    <svg class="w-5 flex" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 32 32">
        <path d="M31 0H15v2h13.59L.29 30.29 1.7 31.7 30 3.41V16h2V1a1 1 0 0 0-1-1z" data-name="5-Arrow Up"/>
    </svg>
</template>