<template>
    <nav>
    <ul class="flex space-x-4" >
      <li class="my-2">
        <nuxt-link :class="logoScoLare"  to="/">home</nuxt-link>
      </li>
      <li class="my-2">
        <nuxt-link :class="logoScoLare"  to="/about">about</nuxt-link>
      </li>
      <li class="my-2">
        <nuxt-link :class="logoScoLare"  to="/portfolio">portfolio</nuxt-link>
      </li>
      <li class="my-2">|</li>
      <li class="my-2">
        <nuxt-link to="https://gitlab.com/vishnurajiam" target="_blank">gitlab</nuxt-link>
      </li>
      <li class="my-2">
        <nuxt-link to="https://www.linkedin.com/in/vishnurajiam/" target="_blank">linkedin</nuxt-link>
      </li>
      <li class="my-2">
        <nuxt-link to="https://www.instagram.com/canvasofdark" target="_blank">youtube</nuxt-link>
      </li>
      <li class="my-2">
        <nuxt-link to="https://www.instagram.com/canvasofdark" target="_blank">instagram</nuxt-link>
      </li>
      <li class="my-2">
        <nuxt-link to="mailto:connect@synamatics.co.uk" target="_blank">imdb</nuxt-link>
      </li>
      <li class="my-2">
        <nuxt-link to="mailto:connect@synamatics.co.uk" target="_blank">email</nuxt-link>
      </li>
    </ul>
  </nav>
</template>

<script>
export default {
  data() {
    return {
      themeColor: "green",
    }
  }
};
</script>