<template>

      <span 
        class="cursor-pointer flex transition-all duration-500 ease-in-out hover:max-w-[auto] overflow-hidden whitespace-nowrap"
      >
        <span class="block hover:opacity-0 transition-opacity duration-300 absolute">I'm Vish</span>
        <span class="opacity-0 hover:opacity-100 transition-opacity duration-300">I'm Vishnu Raj Bijiraj Sheeja</span>
      </span>
  </template>
  
  <style scoped>
  p {
    position: relative;
    cursor: pointer;
  }
  </style>
  