<template>
<nav class="leading-1">
<template v-for="item in navigation" :key="item.name">
<NuxtLink :to="item.href" class="mr-4">{{ item.name }}</NuxtLink>
</template>
</nav>
</template>
<script>
export default {
  data() {
    return {
      heading: '.',
      navigation: [
        {
          name: 'All',
          href: '/all'
        },
        {
          name: 'About',
          href: '/about'
        },
        {
          name: 'Development',
          href: '/development'
        }
      ]
    };
}
};
</script>