@import url('https://fonts.googleapis.com/css2?family=Space+Mono:ital,wght@0,400;0,700;1,400;1,700&family=Cinzel:wght@500&family=Libre+Barcode+39+Text&family=Cutive+Mono&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:wght@300');

@font-face {
  font-family: 'Biko';
  font-weight: 400;
  src: url('../fonts/Biko_Regular.otf') format('opentype');
}
@font-face {
    font-family: 'Biko';
    font-weight: 600;
    src: url('../fonts/Biko_Bold.otf') format('opentype');
}
@font-face {
  font-family: 'Biko';
  font-weight: 900;
  src: url('../fonts/Biko_Black.otf') format('opentype');
}


@font-face {
  font-family: 'Never Mind';
  font-weight: 100;
  src: url('../fonts/never-mind-display-thin.ttf') format('truetype');
}

@font-face {
  font-family: 'Never Mind';
  font-weight: 200;
  src: url('../fonts/never-mind-display-extra-light.ttf') format('truetype');
}

@font-face {
  font-family: 'Never Mind';
  font-weight: 300;
  src: url('../fonts/never-mind-light.ttf') format('truetype');
}

@font-face {
  font-family: 'Never Mind';
  font-weight: 400;
  src: url('../fonts/never-mind-display-regular.ttf') format('truetype');
}

@font-face {
  font-family: 'Never Mind';
  font-weight: 500;
  src: url('../fonts/never-mind-display-medium.ttf') format('truetype');
}

@font-face {
  font-family: 'Never Mind';
  font-weight: 600;
  src: url('../fonts/never-mind-display-bold.ttf') format('truetype');
}

@font-face {
  font-family: 'Never Mind';
  font-weight: 700;
  src: url('../fonts/never-mind-display-extra-bold.ttf') format('truetype');
}

@font-face {
  font-family: 'Never Mind';
  font-weight: 800;
  src: url('../fonts/never-mind-display-heavy.ttf') format('truetype');
}



html,body {
    font-family: "Never Mind";
    font-weight: 400;
}
.material-symbols-outlined {
    font-family: 'Material Symbols Outlined';
    font-weight: normal;
    font-style: normal;
    font-size: 24px;
    display: inline-block;
    line-height: 1px;
    text-transform: none;
    letter-spacing: normal;
    word-wrap: normal;
    white-space: nowrap;
    direction: ltr;
  }
*::selection {
    background-color: #000000;
    color: #FFFFFF;
}
.code-font{
    font-family: 'Cutive Mono';
}
.barcode-font{
    font-family: 'Libre Barcode 39 Text'
}