<script setup lang="ts">
definePageMeta({})
</script>

<template>
  <div class="px-3 py-4 min-h-screen flex items-center justify-center">
      <div class="text-left">
        <div class="px-3">
          <nuxt-link to="/" class="font-2xl"> Back to Home </nuxt-link>
        </div>
        <h1 class="text-4xl mt-5" >
          <span class=" bg-gradient-to-r from-indigo-400 to-cyan-400 text-transparent bg-clip-text">Synamatics</span>
        </h1>
        <div class="mt-5">
          <h2 class="text-xl font-bold mb-4">Synamatics Code Studio: Empowering Businesses with Custom Software Solutions</h2>
          <p class="">Synamatics Code Studio is a leading software development company that specializes in creating innovative and cutting-edge solutions for businesses around the world. With a team of highly skilled professionals and a passion for technology, we are dedicated to delivering high-quality software products that exceed our clients' expectations.</p>
        </div>
        <div class="mt-5">
          <h2 class="text-xl font-bold mb-4">Our Mission</h2>
          <p class="">At Synamatics Code Studio, our mission is to empower businesses and organizations with custom software solutions that drive growth and success. We strive to understand our clients' unique challenges and objectives, and leverage our technical expertise to create tailored software applications that solve complex problems and streamline operations.</p>
        </div>
        <div class="mt-5">
          <h2 class="text-xl font-bold mb-4">Our Expertise</h2>
          <p class="">Our team of experienced software engineers and developers are proficient in a wide range of technologies and frameworks. Whether it's web development, mobile app development, enterprise software solutions, or emerging technologies such as artificial intelligence and blockchain, we have the expertise to deliver exceptional results.</p>
        </div>
        <div class="mt-5">
          <nuxt-link to="/all" class="border border-black px-4 py-2 mb-4 mt-5 rounded hover:bg-black hover:text-white transition ease-in">Connect</nuxt-link>

        </div>
      </div>
  </div>
</template>

<style>
.slide-top{-webkit-animation:slide-top .5s ease-in-out both;animation:slide-top .5s ease-in-out both}
@-webkit-keyframes slide-top{0%{-webkit-transform:translateY(0);transform:translateY(0)}100%{-webkit-transform:translateY(-100px);transform:translateY(-100px)}}@keyframes slide-top{0%{-webkit-transform:translateY(0);transform:translateY(0)}100%{-webkit-transform:translateY(-100px);transform:translateY(-100px)}}
</style>