<script setup lang="ts">
</script>

<template>
  <div class="">
    <div class="min-h-screen flex items-center justify-center animate-fade-in sm:p-8 md:p-12 lg:p-16 ">
      <div class="text-left ">
        <nuxt-link to="/" class="font-2xl"> Back to Home </nuxt-link>
        <h1 class="text-4xl mt-5">
          <span class="box-decoration-slice bg-gradient-to-r from-indigo-600 to-pink-500 text-white px-2">Code. Development.</span>
        </h1>
        <div class="mt-4"> 

<p class="text-lg mb-4">You see, I've got a knack for crafting efficient and robust web applications, APIs, and backend systems that make a real impact. Whether it's building interactive websites or creating seamless integrations, I've got you covered.</p>

<p class="text-lg mb-4">When it comes to coding, I'm all about keeping things clean and maintainable. I follow the best practices and coding standards for each programming language, making sure that my code is a breeze to understand and a joy to work with. Because, let's face it, no one likes dealing with messy code!</p>

<p class="text-lg mb-4">But it's not just about me and my code. Collaboration is key! I love working with talented folks like frontend developers, designers, and project managers to bring projects to life. Together, we create seamless experiences that leave clients and users smiling from ear to ear.</p>

<p class="text-lg mb-4">To make development even more exciting, I dive into the world of frameworks and tools. I harness the power of Node.js frameworks like <a href="https://expressjs.com/" class="underline">Express.js</a> and <a href="https://nestjs.com/" class="underline">Nest.js</a> to build scalable and lightning-fast applications. When it comes to PHP, I rely on frameworks like <a href="https://laravel.com/" class="underline">Laravel</a> and <a href="https://symfony.com/" class="underline">Symfony</a> to make development a breeze. And let's not forget Python! With frameworks like <a href="https://www.djangoproject.com/" class="underline">Django</a> and <a href="https://flask.palletsprojects.com/" class="underline">Flask</a>, I can whip up robust web applications in no time.</p>

<p class="text-lg mb-4">Now, let's talk about version control. It's like magic! With the help of <a href="https://git-scm.com/" class="underline">Git</a>, I can track changes, manage branches, and merge code like a pro. It's all about keeping things organized and making collaboration a breeze.</p>

<p class="text-lg mb-4">But I don't stop at writing code. Testing and debugging are my secret weapons to ensure rock-solid applications. I'm all about writing thorough unit tests and integration tests using awesome frameworks like <a href="https://mochajs.org/" class="underline">Mocha</a>, <a href="https://phpunit.de/" class="underline">PHPUnit</a>, and <a href="https://pytest.org/" class="underline">Pytest</a>. Bugs don't stand a chance against my testing skills!</p>

<p class="text-lg mb-4">Beyond the technical stuff, I'm passionate about empowering businesses through technology. I stay on top of the latest trends and advancements in Node.js, PHP, and Python development, always looking for new ways to push boundaries and deliver exceptional solutions tailored to your needs.</p>

<p class="text-lg mb-4">So, if you're ready to embark on a digital adventure, let's chat! Get in touch with me today, and let's bring your ideas to life. Together, we'll create software solutions that will make your business shine.</p>

</div>
      </div>
      
    </div>
  </div>
</template>