<template>
<div>
    <div class="pt-[40vh]">
        <div class="container mx-auto">
            <div class="text-left md:p-1 ">
                <h1 class="flex"><slot name="header"/></h1>
            </div>
            <heading-header />
        </div>
    </div>
    <div class="container mx-auto">
        <slot/>
    </div>
</div>
  </template>
  
  <script>
  export default {
    head() {
      return {
        title: "Welcome to Synamatics Code Studio",
        meta: [
          {
            hid: 'description',
            name: 'description',
            content: ""
          }
        ]
      }
    },
    data() {
      return {
        themeColor: "green",
      }
    }
  };
  </script>
  <style>
  .hero__thumb {
    mask-image: linear-gradient(#000, transparent);
  }
  .hero__thumb:after {
    position: absolute;
    inset: 0;
    background: linear-gradient(to top, #f1f1f1, transparent);
  }
  </style>