<template>
    <div class="bg-yellow-100">
      <div class="container min-h-screen flex items-center justify-center animate-fade-in mx-auto">
        <div class="text-left text-black-500 md:p-1">
          <h1 class="font-bold flex">
            <slot name="header"/> 
            
          </h1>
          <div class="mt-4 px-1">
            <heading-header />
          </div>
        </div>
      </div>
      <div class="container flex items-center justify-center p-4">
        <slot/>
      </div>
    </div>
  </template>
  
  <script>
  export default {
    head() {
      return {
        title: "Welcome to Synamatics Code Studio",
        meta: [
          {
            hid: 'description',
            name: 'description',
            content: ""
          }
        ]
      }
    },
    data() {
      return {
        themeColor: "green",
      }
    }
  };
  </script>
  <style>
  .hero__thumb {
    mask-image: linear-gradient(#000, transparent);
  }
  .hero__thumb:after {
    position: absolute;
    inset: 0;
    background: linear-gradient(to top, #f1f1f1, transparent);
  }
  </style>