<template>
    <div>
        <NuxtLayout name="custom">
          <template #header>
            <div class="grid grid-cols-1 md:grid-cols-2 gap-4 items-center">
              <span class="md:text-8xl text-6xl font-thin">about.</span>
              <svg class="w-5 flex" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 32 32">
                <path d="M31 0H15v2h13.59L.29 30.29 1.7 31.7 30 3.41V16h2V1a1 1 0 0 0-1-1z" data-name="5-Arrow Up"/>
              </svg>
            </div>
          </template>
        </NuxtLayout>
      <!-- About Section -->
      <section class="mt-12 container mx-auto">
        <div class="grid grid-cols-2 md:grid-cols-2 gap-4 items-center">
            <div>
                <span class="md:text-4xl text-4xl font-thin">I'm Vishnuraj Bijiraj Sheeja.</span>
                <p class="text-xl leading-relaxed">
                  Crafting scalable backend systems, intuitive APIs, and seamless integrations. Passionate about clean architecture, efficient workflows, and automation. Always pushing boundaries with cutting-edge tech.
                </p>
            </div>
            <div class="bg-gray-100 h-90 rounded-lg"></div>
          </div>
      </section>
        </div>
  </template>
  
  <script setup lang="ts">
  definePageMeta({
    layout: false,
  });
  </script>
  
  <style>
  .hero__thumb {
    mask-image: linear-gradient(#000, transparent);
  }
  .hero__thumb:after {
    position: absolute;
    inset: 0;
    background: linear-gradient(to top, #f1f1f1, transparent);
  }
  </style>