<template>
    <div class="min-h-screen sm:p-8 md:p-12 lg:p-16">
        <nuxt-link to="/" class="font-2xl"> 
          <span class="material-symbols-outlined">arrow_back</span>
          Back to Home </nuxt-link>
        <h1 class="text-4xl mb-10" >
          <span class="">Code. Development. Projects.</span>
        </h1>
      <div class="grid grid-cols-3 gap-1">
      <div v-for="item in items" :key="item.title" class="overflow-hidden">
        <div class="md:flex">
        <div class="p-8">
          <div class="uppercase tracking-wide text-sm text-indigo-500 font-semibold">Company retreats</div>
          <a href="#" class="block mt-1 text-lg leading-tight font-medium text-black">Incredible accommodation for your team</a>
          <p class="mt-2 text-slate-500">Looking to take your team away on a retreat to enjoy awesome food and take in some sunshine? We have a list of places to do just that.</p>
        </div>
      </div>
      </div>
    </div>

    </div>
    
</template>

<script lang="ts" setup>
const items = [
  {
    title: 'Item 1',
    content: '...'
  },
  {
    title: 'Item 2',
    content: '...'
  },
  {
    title: 'Item 3',
    content: '...'
  },
  {
    title: 'Item 3',
    content: '...'
  },
  {
    title: 'Item 3',
    content: '...'
  },
  {
    title: 'Item 3',
    content: '...'
  },
  {
    title: 'Item 3',
    content: '...'
  },
  {
    title: 'Item 3',
    content: '...'
  }
]
definePageMeta({
  title: 'Home',

})
</script>