<template>
  <div>
    <NuxtLayout name="custom">
      <template #header>
        <span class="md:text-8xl text-6xl font-thin" to="/communicate">connect.</span>
        <svg class="w-5 flex" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 32 32"><path d="M31 0H15v2h13.59L.29 30.29 1.7 31.7 30 3.41V16h2V1a1 1 0 0 0-1-1z" data-name="5-Arrow Up"/></svg>
      </template>
      <div class="mt-4 px-1">
        <div class="flex flex-col w-25">
          <a href="https://gitlab.com/vishnurajiam" target="_blank" rel="noopener noreferrer" class="flex items-center">
            GitLab
          </a>
          <a href="https://www.linkedin.com/in/vishnurajiam/" target="_blank" rel="noopener noreferrer" class="flex items-center">
            LinkedIn
          </a>
          <a href="mailto:connect@synamatics.co.uk" class="flex items-center">
            connect@synamatics.co.uk
          </a>
        </div>
          </div>
        </NuxtLayout>
      </div>
</template>

<script setup lang="ts">
definePageMeta({
 layout: false,
})
</script>