<template>
  <div>
    <NuxtLayout name="custom">
      <template #header>
        <span class="md:text-8xl text-4xl font-thin" to="/about">i'm vishnu.</span>
        <svg class="w-5 flex text-green-900" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 32 32"><path d="M31 0H15v2h13.59L.29 30.29 1.7 31.7 30 3.41V16h2V1a1 1 0 0 0-1-1z" data-name="5-Arrow Up"/></svg>
        <div class="w-20 h-20 mx-2 rounded-full bg-cover bg-center bg-no-repeat bg-image"></div>
      </template>
    </NuxtLayout>
  </div>
</template>

<script setup lang="ts">
definePageMeta({
  layout: false,
})
</script>

<style>
.bg-image {
  background-image: url("~/assets/images/vishnu.jpeg");
  filter: grayscale(1);
}
</style>