<template>
  <div>
      <NuxtLayout name="custom">
        <template #header>
          <div class="grid grid-cols-1 md:grid-cols-2 gap-4 items-center">
            <span class="md:text-8xl text-6xl font-thin">portfolio.</span>
            <arrow-img/>
          </div>
        </template>
      </NuxtLayout>
        <!-- Portfolio Section -->
        <div class="container mx-auto mt-10">
        <section class="my-12">
          <div class="grid grid-cols-1 md:grid-cols-4 gap-3">
            <nuxt-link 
              :to="project.link" 
              target="_blank" class="relative w-full h-40 rounded-xl overflow-hidden"
              :class="project.color" 
              v-for="(project, index) in projects" :key="index">
              <div class="absolute top-4 right-4">
                <arrow-img/>
              </div>
              <div class="absolute bottom-4 left-4">
                <p class="text-xs leading-tight">{{ project.category }}</p>
                <h3 class="text-lg tracking-tight leading-tight">{{ project.title }}</h3>
                <p class="text-xs leading-tight">{{ project.description }}</p>
              </div>
            </nuxt-link>
          </div>
        </section>
      </div>
      </div>
</template>

<script setup lang="ts">

definePageMeta({
  layout: false,
});

const projects = [
      {
        title: 'Auto Slug Laravel',
        description: 'aurora opensource',
        link: 'https://packagist.org/packages/synamaticscodestudio/auto-slug-cast',
        image: 'https://img.shields.io/packagist/v/synamaticscodestudio/auto-slug-cast.svg?style=flat-square&logo=laravel&logoColor=red',
        category: 'laravel',
        color: 'bg-teal-200 text-teal-500',
    },{
        title: 'Linux Spark',
        description: 'Reboot Servers at Instinct',
        link: 'https://gitlab.com/vishnurajiam/linux-spark',
        image: 'https://img.shields.io/packagist/v/synamaticscodestudio/auto-slug-cast.svg?style=flat-square&logo=laravel&logoColor=red',
        category: 'linux',
        color: 'bg-red-200 text-red-500',
    },{
        title: 'Wels Live',
        description: 'Live events from Facebook API',
        link: 'https://gitlab.com/vishnurajiam/wels-live',
        image: 'https://img.shields.io/packagist/v/synamaticscodestudio/auto-slug-cast.svg?style=flat-square&logo=laravel&logoColor=red',
        category: 'wordpress',
        color: 'bg-orange-200 text-orange-500',
    },{
        title: 'Woo Login Redirect',
        description: 'Woocommerce login control',
        link: 'https://gitlab.com/vishnurajiam/woo-login-redirect',
        image: 'https://img.shields.io/packagist/v/synamaticscodestudio/auto-slug-cast.svg?style=flat-square&logo=laravel&logoColor=red',
        category: 'wordpress',
        color: 'bg-purple-200 text-purple-500',
    },{
        title: 'Admin Typeface',
        description: 'Custom Typeface for WordPress Admin',
        link: 'https://gitlab.com/vishnurajiam/admin-typeface',
        image: 'https://img.shields.io/packagist/v/synamaticscodestudio/auto-slug-cast.svg?style=flat-square&logo=laravel&logoColor=red',
        category: 'wordpress',
        color: 'bg-gray-200 text-gray-500',
    }, {
        title: 'Font on Wheels',
        description: 'Script that generates number plates',
        link: 'https://gitlab.com/vishnurajiam/font-on-wheels',
        image: 'https://img.shields.io/packagist/v/synamaticscodestudio/auto-slug-cast.svg?style=flat-square&logo=laravel&logoColor=red',
        category: 'php',
        color: 'bg-amber-200 text-amber-500',
    },{
        title: 'Single Session',
        description: 'Single Session Login for WP',
        link: 'https://gitlab.com/vishnurajiam/single-session-wordpress-plugin',
        image: 'https://img.shields.io/packagist/v/synamaticscodestudio/auto-slug-cast.svg?style=flat-square&logo=laravel&logoColor=red',
        category: 'laravel',
        color: 'bg-emerald-200 text-emerald-500',
    }, {
        title: 'Laravel Imap Mailbox',
        description: 'IMAP Mailbox',
        link: 'https://gitlab.com/vishnurajiam/laravel-imap-mailbox',
        image: 'https://img.shields.io/packagist/v/synamaticscodestudio/auto-slug-cast.svg?style=flat-square&logo=laravel&logoColor=red',
        category: 'laravel',
        color: 'bg-red-200 text-red-500',
    }, {
        title: 'mail pilot',
        description: 'SMTP testing library',
        link: 'https://gitlab.com/vishnurajiam/mail-pilot',
        image: 'https://img.shields.io/packagist/v/synamaticscodestudio/auto-slug-cast.svg?style=flat-square&logo=laravel&logoColor=red',
        category: 'laravel',
        color: 'bg-green-200 text-green-500',
    }, {
        title: 'SpiceWeaves Canada',
        description: 'SpiceWeaves Canada',
        link: 'https://play.google.com/store/apps/details?id=com.synamaticscodestudio.spiceweaves&hl=en_CA',
        image: 'https://img.shields.io/packagist/v/synamaticscodestudio/auto-slug-cast.svg?style=flat-square&logo=laravel&logoColor=red',
        category: 'react',
        color: 'bg-pink-200 text-pink-500',
    }, {
        title: 'COG - CSV',
        description: 'CSV generator for Intitating Multivendor Report outputs saved from database',
        link: 'https://play.google.com/store/apps/details?id=com.synamaticscodestudio.spiceweaves&hl=en_US',
        image: 'https://img.shields.io/packagist/v/synamaticscodestudio/auto-slug-cast.svg?style=flat-square&logo=laravel&logoColor=red',
        category: 'php',
        color: 'bg-fuchsia-200 text-fuchsia-500',
    }, {
        title: 'eAutofix',
        description: 'app for eAutofix Germany',
        link: 'https://gitlab.com/vishnurajiam/eautofix',
        image: 'https://img.shields.io/packagist/v/synamaticscodestudio/auto-slug-cast.svg?style=flat-square&logo=laravel&logoColor=red',
        category: 'react',
        color: 'bg-blue-200 text-blue-500',
    }]
</script>

<style>
.hero__thumb {
  mask-image: linear-gradient(#000, transparent);
}
.hero__thumb:after {
  position: absolute;
  inset: 0;
  background: linear-gradient(to top, #f1f1f1, transparent);
}
</style>