<script setup lang="ts">
definePageMeta({})
</script>

<template>
 <div class="bg-black">
    <div class="container mx-auto min-h-screen flex items-center justify-center animate-fade-in sm:p-8 md:p-12 lg:p-16">
      <div class="text-left text-white">
        <h1 class="text-7xl/loose leading-1">WordPress Plugins.</h1>
        <nuxt-link to="/development/wordpress/"> back to WordPress </nuxt-link>

      </div>
    </div>
    <NuxtPage/>
  </div>
</template>